
.account-view-add-account-holder {
    background-color: $color-secondary;
    display: inline-block;
    letter-spacing: 1px;
    @include rem((
        border-radius: 5px,
        font-size: 12px,
        padding: 10px,
    ));
}
