
.account-view-add-account-holder {
    background-color: $color-background-secondary;
    border-radius: .5rem;
    display: inline-block;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 1rem;
}
