
.xfin-button {
    background-color: $color__buttons--background;
    color: $color__buttons--text;
    text-decoration: none;
    @include rem((
        border-radius: 5px,
        padding: 10px 20px,
    ));

    &:hover {
        color: $color__font--dark;
        text-decoration: none;
    }

    &--light {
        border-bottom: 1px solid transparent;
        color: $color__buttons__text--light;
        cursor: pointer;
        display: inline-block;

        &:hover {
            border-bottom: 1px solid $color__buttons__border--light;
        }
    }
}