
.xfin-button {
    background-color: $color-buttons-background;
    color: $color-buttons-text;
    text-decoration: none;
    @include rem((
        border-radius: 5px,
        padding: 10px 20px,
    ));

    &:hover {
        background-color: $color-buttons-background-dark;
        text-decoration: none;
    }

    &--light {
        border-bottom: 1px solid transparent;
        color: $color-buttons-text-light;
        cursor: pointer;
        display: inline-block;

        &:hover {
            border-bottom: 1px solid $color-buttons-border-light;
        }
    }
}