
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    @include rem((
        font-size: 20px,
        margin-bottom: 10px,
    ));

    thead tr {
        border: none;
    }

    tbody tr {
        border-top: 1px solid #ddd;

        &.subtotal {
            border-top: 2px solid #aaa;
        }

        &.total {
            border-top: 2px solid #222;
            font-weight: bold;
        }

        td {
            @include rem((
                padding: 10px 15px,
            ));

            &.align-right {
                text-align: right;
            }
        }
    }

    th {
        width: 25%;
        @include rem((
            padding: 20px 15px,
        ));

        &.align-right {
            text-align: right;
        }
    }
}