
.xfin {
  &__header {
    background-color: $color--primary;
    color: $color__font--dark;
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
  }

  &__body {
    display: flex;
    margin-top: 5vh;
  }

  &__sidebar {
    background-color: $color--primary;
    height: 95vh;
    position: fixed;
    width: 12.5vw;
    z-index: z('sidebar');
    @include rem((
      font-size: 20px,
    ));
  }

  &__menu {
    list-style: none;
    padding: 0;

    li {
      background-color: $color--white;
      border: solid $color__borders;
      border-width: 1px 1px 0 0;
      cursor: pointer;
      @include rem((
        padding: 10px,
      ));

      &:hover, &.active {
        background-color: $color--secondary;
        border-color: $color--secondary;
        color: $color__font--light;
      }
    }
    
    a {
      color: $color__font--dark;
      text-decoration: none;
    }
  }

  &__content {
    height: 100%;
    margin-left: 12.5vw;
    width: 87.5vw;
  }

  &__component {
    display: flex;
    width: 100%;

    & > * {
      @include rem((
        padding: 50px 50px 0,
      ));
    }
  }
}
