//TODO - use variables for the colors
.negative {
    color: $color-red;

    &:disabled { color: #ff7373; }
}

.has-errors { border: 1px solid $color-form-errors !important; }

.text-right { text-align: right; }