.negative {
    color: $color-red;

    &:disabled { color: $color-red-light; }
}

.positive {
    color: $color-green;
}

.has-errors { border: 1px solid $color-form-errors !important; }

.text-right { text-align: right; }

.table-row-total { font-weight: bold; }