
/*---------------------------------------------------------------------------------------

    >>> Colors

----------------------------------------------------------------------------------------*/

$color-background-primary:                                  #222222;
$color-background-secondary:                                #235baf;
$color-form-errors:                                         #f04124;
$color-form-input-border:                                   #767676;
$color-font-primary:                                        #dddddd;
//$color-new-account-option:                                  #cccccc;  //TODO: find some other color or just leave it black
