.budget-manager {
    &__free-budget, &__total-budget {
        @include rem(font-size, 20px);
        display: flex;
        width: 50%;

        &__name {
            font-weight: bold;
        }
    }

    &__cost-center-list {
        width: 50%;
    }
}