.new-account-holder {
    display: flex;
    overflow: hidden;
    width: 50%;
    z-index: z("component");

    & > * {
        min-width: 100%;
        padding-left: 50px;
    }

    &__name {
        border-bottom: 1px solid #cccccc;
        @include rem(
            (
                margin-bottom: 20px,
            )
        );
    }

    &__accounts {
        border-bottom: 1px solid #cccccc;
        @include rem(
            (
                margin-bottom: 20px,
                padding-bottom: 20px,
            )
        );
    }

    &__accounts-headline {
        @include rem(
            (
                margin-bottom: 30px,
            )
        );
    }

    &__account-items {
        display: flex;
        @include rem((
            margin-top: 30px,
        ));
    }

    &__account {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative;
        @include rem(
            (
                border-radius: 5px,
                height: 150px,
                width: 150px,
                font-size: 24px,
                margin-right: 10px,
            )
        );

        &:hover .new-account-holder__edit {
            opacity: 1;
            transition: opacity .2s;
        }
    }

    &__delete {
        position: absolute;
        @include rem((
            line-height: 10px,
            top: 10px,
            right: 10px,
        ));
    }

    &__account-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__edit {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity .2s;
        @include rem((
            font-size: 12px
        ))
    }
}
