.new-revenue {
    width: 50%;

    &__account {
        @include rem(( padding-bottom: 20px ));
    }
    &__category {
        border-bottom: 1px solid $color__borders;

        @include rem((
            margin-bottom: 20px,
            padding-bottom: 20px,
        ));
    }
}