$color__primary:                #222222;
$color__secondary:              #235baf;
$color__light-gray:             #cccccc;
$color__white:                  #ffffff;
$color__font--dark:             #000000;
$color__font--light:            $color__white;
$color__form-errors:            #f04124;
$color__borders:                $color__light-gray;