
.xfin-modal {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;

    .xfin-modal-box {
        border-radius: 2rem;
        left: 50%;
        position: absolute;
        top: 25%;
        transform: translate(-50%, -50%);

        .xfin-modal-header {
            .xfin-modal-title {
                background-color: #59f;
                border-radius: 2rem 2rem 0 0;
                display: block;
                padding: 1rem 0;
                padding-left: 1rem;
                width: 100%;
            }
        }

        .xfin-modal-body {
            align-items: center;
            background-color: #fff;
            border-radius: 0 0 1rem 1rem;
            display: flex;
            flex-wrap: wrap;
            height: 20rem;
            justify-content: center;
            padding: 1rem;
            width: 75rem;

            .xfin-modal-actions {
                display: flex;
                justify-content: space-around;
                width: 100%;

                .btn {
                    font-size: 2rem;
                }
            }
        }
    }
}
