.organism-transaction {
    width: 50%;

    &__account {
        @include rem(( padding-bottom: 20px ));
    }

    &__counter-part-account {
        display: flex;
        justify-content: space-around;

        @include rem(( padding: 0 40px ));
    }

    &__counter-part-account-data {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        position: relative;

        label {
            @include rem((
                font-size: 14px,
                margin-bottom: 5px,
            ));
        }

        .xfin__form__error {
            bottom: 0;
            position: absolute;
            transform: translateY(100%);
            @include rem((
                font-size: 14px,
                padding: 5px 0 0 10px,
            ));
        }
    }
}