.organism-collapsible {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    @include rem((
        border-radius: 5px,
        margin-bottom: 50px,
    ));

    &__body {
        @include rem(max-height, 500px);
        overflow: scroll;
        transition: max-height 1s;

        &.collapsed {
            max-height: 0;
            transition: max-height 1s;
        }
    }
}

.molecule-collapsible-body {
    overflow: scroll;
    transition: max-height 1s;
    @include rem((
            max-height: 1000px,
    ));

    &.collapsed {
        max-height: 0;
        transition: max-height 1s;
    }
}