
.xfin-collapsible {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    @include rem((
        border-radius: 5px,
        margin-bottom: 50px,
    ));

    &.collapsed .bar:first-child {
        @include rem((
            height: 30px,
        ));
    }

    &__header {
        background-color: $color__primary;
        cursor: pointer;
        position: relative;
        transition: all .5s;
        @include rem((
            border-radius: 5px,
        ));

        &.expanded {
            transition: all .5s;
            @include rem((
                border-radius: 5px 5px 0 0,
            ));
        }
    }

    &__title {
        color: #fff;
        display: inline-block;
        text-align: left;
        width: 100%;
        @include rem((
            font-size: 25px,
            padding: 10px,
        ));

        &:focus, &:hover {
            box-shadow: none;
            text-decoration: none;
        }
    }

    &__state {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);

        .bar {
            background-color: #fff;
            height: 1px;
            transition: all .2s;
            @include rem((
                width: 30px,
            ));
            
            &:first-child {
                height: 0;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 1px;
            }
        }
    }

    &__body {
        overflow: hidden;
        transition: max-height 1s;
        @include rem((
            max-height: 1000px,
        ));

        &.collapsed {
            max-height: 0;
            transition: max-height 1s;
        }
    }
}
