.organism-cost-center-list {
  width: 50%;

  &__header {
    @include rem(padding, 10px);
    align-items: center;
    border-bottom: 1px solid $color-borders;
    display: flex;
    position: relative;
  }

  &__name {
    @include rem(padding-left, 25px);
  }

  &__edit {
    position: relative;
  }

  &__body {
    max-height: 500000px;
    transition: all 1s;

    &.collapsed {
      max-height: 0;
      overflow: scroll;
      transition: all 1s;
    }
  }

  &__new-cost-center {
    @include rem(padding, 10px);
    border: 1px solid $color-borders;
    display: flex;
  }
}