.organism-budget-list__total {
  @include rem(font-size, 20px);
  display: flex;
  justify-content: flex-end;
  font-weight: bold;

  &__value {
    text-align: right;
  }

  &__button {
    text-align: center;
  }
}