
.account-holder-edit {
    .account-holder-accounts {
        position: relative;

        .account-holder-accounts-heading {
            position: relative;
            @include rem((margin: 60px 0));

            .account-holder-accounts-headline {
                background-color: #fff;
                left: 5%;
                letter-spacing: 3px;
                position: absolute;
                text-transform: uppercase;
                @include rem((
                    padding: 0 10px,
                    top: -12px
                ));
            }
        }
    }
}
