
.account-holder-edit {
    .account-holder-accounts {
        position: relative;

        .account-holder-accounts-heading {
            position: relative;
            margin: 6rem 0;

            .account-holder-accounts-headline {
                background-color: #fff;
                left: 5%;
                letter-spacing: .3rem;
                padding: 0 1rem;
                position: absolute;
                text-transform: uppercase;
                top: -1.25rem;
            }
        }
    }
}
