
.budget-manager {
    .available-amount {
        .available-amount-value {
            text-align: right;
        }
    }

    .no-transfer-possible {
        color: #f00;
        text-align: center;
        @include rem((
            padding: 20px 0,
        ));
    }
}
