.xfin-card.budget-manager {
    align-items: center;
    display: flex;

    &.changed {
        border: 2px solid $color--secondary;
    }

    i {
        position: absolute;
        cursor: pointer;
        transition: all .5s;
        top: 50%;
        transform: translateY(-50%);

        &.reset {
            @include rem((
                font-size: 30px,
                left: 5px,
            ));

            &:hover {
                transform: translateY(-50%) rotate(-360deg);
            }
        }

        &.save {
            @include rem((
                font-size: 27px,
                left: 50px,
            ));

            &:hover {
                transform: translateY(-50%) rotateY(360deg);
            }
        }

        &:hover {
            color: $color--secondary;
            transition: all .5s;
        }
    }
}