.molecule__card {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    @include rem((
        border-radius: 5px,
        padding: 15px,
        margin: 10px,
    ));

    &__content {
        @include rem((
            font-size: 20px,
        ));
    }
}
