.molecule-budget-table {
  .cost-center-has-assets {
    display: flex;
    justify-content: space-between;
    position: relative;

    svg {
      @include rem(width, 25px);
      height: auto;
    }
  }

  &__assets-icon {
    cursor: pointer;

    &.active svg {
      transform: rotate(180deg);
      transition: all .2s;
    }

    svg {
      transition: all .2s;
    }
  }

  &__assets-overlay {
    @include rem(font-size, 18px);
    background-color: $color-assets-overlay;
    bottom: 0;
    border-top: 3px solid black;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
    left: 0;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    position: absolute;
    transform: translateY(100%);
    transition: all .5s;
    width: 100%;
    z-index: 10;

    &.active {
      @include rem(max-height, 1000px);
      opacity: 1;
      transition: all .5s;
    }

    &__inner {
      @include rem(padding, 15px 30px);
    }

    table {
      margin: 0;

      thead tr {
        border: none;
      }

      th, td {
        @include rem(font-size, 16px);
        @include rem(padding, 10px 10px 10px 0);
      }

      th:not(:first-child), td:not(:first-child) {
        text-align: right;

      }
    }
  }

  &__assets-headline {
    @include rem(margin-bottom, 10px);
  }
}