.molecule-collapsible-body {
  overflow: hidden;
  transition: max-height 1s;
  @include rem((
          max-height: 1000px,
  ));

  &.collapsed {
    max-height: 0;
    transition: max-height 1s;
  }
}