.molecule-input-auto-suggest__suggestions {
    background-color: $white;
    border: 1px solid $secondary;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .5);
    list-style-type: none;
    position: absolute;
    width: 100%;
    //TODO - implement smart z-indices
    z-index: 1;
    @include rem((
        border-radius: 0 0 5px 5px,
        padding: 10px,
        transform: translateY(-5px)
    ));

    li {
        @include rem(( padding: 5px ));

        &:hover, &:hover strong {
            background-color: $secondary;
            color: $white;
            cursor: pointer;
        }

        strong { color: $secondary }
    }
}