.xfin__cost-center {
  background-color: $color-primary;
  color: $color-white;
  @include rem(border-radius, 5px);
  @include rem(padding, 15px 20px);
  @include rem(margin-bottom, 25px);

  p {
    margin: 0;
  }
}