.molecule-input-auto-suggest {
    position: relative;

    &--small &__suggestions {
        @include rem(font-size, 18px);

        li {
            @include rem(padding, 5px 15px);
        }
    }

    &__chevron {
        @include rem(right, 20px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__suggestions {
        @include rem(border-radius, 0 0 5px 5px);
        @include rem(transform, translateY(-5px));
        @include rem(max-height, 500px);
        background-color: $color-white;
        border: 1px solid $color-secondary;
        box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .5);
        list-style-type: none;
        overflow-y: auto;
        padding: 0;
        position: absolute;
        width: 100%;
        //TODO - implement smart z-indices
        z-index: 1;

        li {
            @include rem(padding, 10px);
            border-bottom: 1px solid $color-borders;

            &:hover, &:hover strong {
                background-color: $color-secondary;
                color: $color-white;
                cursor: pointer;
            }

            strong { color: $color-secondary }
        }
    }
}