@import "utilities/variables";

@import "components/components";

@import "utilities/utilities";

//TODO - make the dev-hints visible again, check the app for them, and delete them if the issues are fixed
.dev-hint {
    color: red;
    display: none;

    &.important {
        display: block;
        font-size: 1.4rem;
    }
}