.atom-button {
    border: 0;

    & + & {
        @include rem(margin-left, 10px);
    }

    &--primary {
        background-color: $background-button-primary;
        color: $text-button-primary;
        transition: all .5s;
        @include rem(border-radius, 5px);
        @include rem(padding, 10px 20px);

        &:hover {
            background-color: $background-button-primary-dark;
            text-decoration: none;
            transition: all .5s;
        }

        &:disabled {
            background-color: $background-button-primary-disabled;
            cursor: not-allowed;
        }
    }

    &--light {
        background-color: transparent;
        border-bottom: 1px solid transparent;
        color: $text-button-light;
        cursor: pointer;
        display: inline-block;
        transition: all .5s;

        &:hover:not(:disabled) {
            border-bottom: 1px solid $border-button-light;
            transition: all .5s;
        }

        &:disabled {
            color: $background-button-primary-disabled;
            cursor: not-allowed;
        }
    }

    &--cancel {
        background-color: $background-button-cancel;
        color: $text-button-cancel;

        transition: all .5s;
        @include rem((
                border-radius: 5px,
                padding: 10px 20px,
        ));

        &:hover {
            background-color: $background-button-cancel-dark;
            text-decoration: none;
            transition: all .5s;
        }
    }

    &--small {
        @include rem(font-size, 14px);
        @include rem(padding, 5px 10px);
    }
}