.atom-edit-icon {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  @include rem(top, 25px);

  &--left {
    @include rem(left, 20px);
  }

  &--right {
    @include rem(right, 20px);
  }

  &--hover {
    display: none;
  }
}