.xfin {
  &__header {
    background-color: $color-primary;
    color: $color-font-dark;
    position: fixed;
    top: 0;
    width: 100vw;
    //z-index: 999;
    z-index: z('header');
    @include rem(height, 60px);
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include rem(width, 240px);

    svg {
      width: auto;
      @include rem(height, 50px);
    }
  }

  &__body {
    display: flex;
    @include rem(margin-top, 60px);
  }

  &__navigation {
    background-color: $color-primary;
    height: 95vh;
    position: fixed;
    width: 12.5vw;
    z-index: z('sidebar');
    @include rem((
            font-size: 20px,
    ));
  }

  &__menu {
    list-style: none;
    padding: 0;

    li {
      background-color: $color-white;
      border: solid $color-borders;
      border-width: 1px 1px 0 0;
      cursor: pointer;

      &:hover, &.active {
        background-color: $color-secondary;
        border-color: $color-secondary;

        a {
          color: $color-white;
        }
      }

      a {
        @include rem(padding, 10px);
        color: $color-font-dark;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }
    }
  }

  &__content {
    display: flex;
    margin-left: 12.5vw;
    width: 87.5vw;
  }

  &__component {
    @include rem(padding, 30px);

    & > * {
      //TODO - delete if not needed (renders the component as cards, with box shadow
      //@include rem(padding, 25px 50px 25px);
      //box-shadow: 0 0 5px 0 rgba($black, .5);
    }
  }
}