.xfin {
  &__header {
    background-color: $color-primary;
    color: $color-font-dark;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    @include rem(height, 60px);
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include rem(width, 240px);

    svg {
      width: auto;
      @include rem(height, 50px);
    }
  }

  &__body {
    display: flex;
    @include rem(margin-top, 60px);
  }

  &__sidebar {
    background-color: $color-primary;
    height: 95vh;
    position: fixed;
    width: 12.5vw;
    z-index: z('sidebar');
    @include rem((
            font-size: 20px,
    ));
  }

  &__menu {
    list-style: none;
    padding: 0;

    li {
      background-color: $color-white;
      border: solid $color-borders;
      border-width: 1px 1px 0 0;
      cursor: pointer;
      @include rem((
              padding: 10px,
      ));

      &:hover, &.active {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: $color-font-light;
      }
    }
  }

  &__content {
    height: 100%;
    margin-left: 12.5vw;
    width: 87.5vw;
  }

  &__component {
    display: flex;
    width: 100%;

    & > * {
      @include rem((
              padding: 50px 50px 0,
      ));
    }
  }
}