.xfin-form {
    font-size: 2rem;
    width: 50%;

    &__section {
        margin-bottom: 3rem;
        border-bottom: 1px solid #ddd;
    }

    &__group {
        align-items: center;
        margin: 2rem 0;

        &.accounts {
            margin-bottom: 4rem;
        }
    }

    &__control {
        border-radius: .5rem;
        border-width: .1rem;
        padding: .3rem 1.5rem;

        &.has-errors {
            border: 1px solid $color-form-errors;
        }
    }

    &__button {
        margin-bottom: 3rem;

        &.btn-submit-account, &.btn-edit-account {
            margin-left: 1.5rem;
        }
    }

    &__error {
        color: $color-form-errors;
        font-size: 1.6rem;
        margin: 0;
        padding: 01rem 1rem;
    }

    &__notices__close {
        cursor: pointer;
    }

    .form-group {


        &.xfin-form-group-select {
            margin-bottom: 5rem;
        }

        .xfin-form-control {
            border: 1px solid $color-form-input-border;
            border-radius: 0.5rem;

            &:disabled {
                border: 1px solid rgba(118, 118, 118, 0.3);
            }

            &.has-errors {
                border: 1px solid $color-form-errors;
                outline: none;
            }

            // TODO - find a better color or just leave it black
            // option.new-account {
            //     color: $color-new-account-option;
            // }
        }

        label {
            margin: 0;
        }

        .errors-output {
            color: $color-form-errors;
            font-size: 1.4rem;
            margin-top: 1rem;
        }

        .xfin-form-control {
            padding: 0.5rem;
        }

        #checkboxes {
            display: flex;

            .checkbox-group:first-child {
                margin-right: 2.5rem;
            }
        }
    }
}
.error {
    color: crimson;
}