.xfin__form {
    &__form-control {
        border-radius: .5rem;
        border-width: .1rem;
        box-shadow: none;
        @include rem((
            font-size: 18px,
            padding: 3px 15px,
        ));

        &:focus {
            box-shadow: none;
            border-color: $secondary
        }
    }

    &__error {
        color: $form-errors;
        margin: 0;
        @include rem((
            font-size: 16px,
            padding: 10px,
        ));
    }

    &__label i {
        color: $form-required;
    }
}

.form-floating .xfin__form__form-control.form-select {
    @include rem(( height: 62px ));
}